/* 
arquivo de css (Cascade style sheet-folha de estilo em cascata
é utilizado para fazer a camada de formatação de um 
site em html.
*/
/* 
Vamos formatar todos os elementos presentes em uma pagina html
 usando o *(asterisco) e aplicar margem externa e interna 
 zero(0) e realizar o ajuste das caixas html
*/
* {
  margin: 0px; /*margem externa*/
  padding: 0px; /*margem interna*/
  box-sizing: border-box; /*ajuste de padding para n criar a barra de rolamento*/
}

header {
  height: 300px; /*aplicar altura ao cabeçalho*/
  background-image: url("../img/cyber.jpg");
  background-size: 100% cover;
  background-position-y: -400px;
  padding-left: 50px;
  padding-top: 200px;
}
h1 {
  font-family: verdana;
  font-size: 50pt;
  color: cyan;
  text-shadow: 4px 4px 10px black;
}
nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-inline: 60px;
}
nav ul li a {
  color: cyan;
  font-family: arial;
  text-decoration: none;
}
main {
  padding: 50px;
  background-color: black;
}
footer {
  background-color: rgb(17, 24, 63);
  /* permitir com que o roda pé fique com seu conteudo flexivel */
  display: flex;
  /* dispor o conteudo em linha */
  flex-direction: row;
  /* ajustar o conteudo com justify-content e align-items */
  justify-content: center;
  align-items: center;
  height: 200px;
}
footer div {
  margin: 200px;
}
#endereco {
  font-family: verdana;
  font-size: 14pt;
  color: white;
  width: 300px;
  text-align: left;
}
#redes ul {
  /* retirar as bolinha de marcação */
  list-style: none;
}
/* vamos dispor as imagens das redes em linha com display inline-block */
#redes ul li {
  display: inline-block;
  margin: 15px;
}
#redes ul li a img {
  width: 70px;
  height: 70px;
}
p {
  color: white;
  font-size: 12pt;
  font-family: arial;
}
h2 {
  font-family: Arial;
  font-size: 20pt;
  margin: 50px;
  background-color: cyan;
  color: black;
  text-align: center;
}
/* começo home */
#imghome {
  text-align: center;
}

#imghome img {
  width: 400px; /*largura da imagem*/
  height: 400px; /*altura da imagem*/
  /* arredondar os cantos da imagem */
  border-radius: 250px;
  opacity: 0.7; /*colocar a imagem em 70% de opacidade*/
  margin: 20px;
  /* Efeito de transição. Isso fará com que a imagem tenha
  uma animação quando passar o mouse sobre ela */
  transition: ease 1s;
}
#imghome img:hover {
  opacity: 1;
  /* width: 500px;
  height: 500px; */
  transform: scale(1.2);
  /*transform: rotate(360deg); /*girar a imagem em 360graus*/
}
/* fim home */
/* começo historia */
#imghistoria {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#imghistoria img {
  width: 20%;
  height: 200px;
  margin: 5px;
}
#videohistoria {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#videohistoria iframe {
  width: 100%;
  height: 500px;
  margin: 10px;
}
/* fim historia */
/* inicio stilos cardapio */
h3 {
  /* por tudo em maiusculo */
  text-transform: uppercase;
  color: blue;
  font-size: 20pt;
  font-family: verdana;
  margin: 30px;
  padding-left: 25px;
}
#linha {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#linha #produto {
  width: 45%;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

#linha #produto #imgprod img {
  width: 100%;
  height: 225px;
  border-radius: 10px;
}
#linha #produto #imgprod,
#linha #produto #descricao {
  width: 48%;
  margin: 10px;
}

h4 {
  font-family: verdana;
  font-size: 12pt;
  color: white;
  margin: 7px;
}
h5 {
  font-family: "Lucida Sans";
  font-weight: lighter;
  font-size: 10pt;
  color: white;
  margin: 7px;
}
h6 {
  font-family: "Lucida Sans";
  font-size: 8pt;
  color: cyan;
  margin: 7px;
}
#linha #produto:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}
