/* 
arquivo de css (Cascade style sheet-folha de estilo em cascata
é utilizado para fazer a camada de formatação de um 
site em html.
*/
/* 
Vamos formatar todos os elementos presentes em uma pagina html
 usando o *(asterisco) e aplicar margem externa e interna 
 zero(0) e realizar o ajuste das caixas html
*/
* {
  margin: 0px; /*margem externa*/
  padding: 0px; /*margem interna*/
  box-sizing: border-box; /*ajuste de padding para n criar a barra de rolamento*/
}

header {
  height: 300px; /*aplicar altura ao cabeçalho*/
  background-image: url("../img/cyber.jpg");
  background-size: 100% cover;
  background-position-y: -400px;
  padding-left: 50px;
  padding-top: 200px;
}
h1 {
  font-family: verdana;
  font-size: 50pt;
  color: cyan;
  text-shadow: 4px 4px 10px black;
}
nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-inline: 60px;
}
nav ul li a {
  color: cyan;
  font-family: arial;
  text-decoration: none;
}
main {
  padding: 50px;
}
footer {
  background-color: rgb(17, 24, 63);
  /* permitir com que o roda pé fique com seu conteudo flexivel */
  display: flex;
  /* dispor o conteudo em linha */
  flex-direction: row;
  /* ajustar o conteudo com justify-content e align-items */
  justify-content: center;
  align-items: center;
  height: 200px;
}
footer div {
  margin: 200px;
}
#endereco {
  font-family: verdana;
  font-size: 14pt;
  color: white;
  width: 300px;
  text-align: left;
}
#redes ul {
  /* retirar as bolinha de marcação */
  list-style: none;
}
/* vamos dispor as imagens das redes em linha com display inline-block */
#redes ul li {
  display: inline-block;
  margin: 20px;
}
#redes ul li a img {
  width: 90px;
  height: 90px;
}
